Ignition Crash if file contents include brackets ->  [nosniff]

# Issue Report #

## Bug ##

### CoreOS Version ###
CoreOS-stable-1010.5.0-hvm (ami-32a85152)

### Environment ###
AWS CoreOS-stable-1010.5.0-hvm (ami-32a85152) / Oregon

### Expected Behavior ###
System boots

### Actual Behavior ###
System enters emergency mode
![image](https://cloud.githubusercontent.com/assets/12287/16105290/e97f3262-33c3-11e6-923f-f7b672854842.png)

### Reproduction Steps ###
Use ignition contents for ec2

```
{
  "ignition": {
    "version": "2.0.0"
  },
  "storage": {
    "files": [
      {
        "filesystem": "root",
        "path": "/etc/registry.config.yml",
        "mode": 420,
        "contents": {
          "source": "data:,http:%0A%20%20headers:%0A%20%20%20%20X-Content-Type-Options:%20[nosniff]%0A"
        }
      }
    ]
  }
}
```

### Other Information ###
Removing line:     X-Content-Type-Options: [nosniff]
resolves the problem

## Feature Request ##
Maybe there's some URI parser problem that we need to address?



Maybe related to
https://www.ietf.org/rfc/rfc2732.txt
```

3. Changes to RFC 2396

   This document updates the generic syntax for Uniform Resource
   Identifiers defined in RFC 2396 [URL].  It defines a syntax for IPv6
   addresses and allows the use of "[" and "]" within a URI explicitly
   for this reserved purpose.






Hinden, et al.              Standards Track                     [Page 2]

RFC 2732            IPv6 Literal Addresses in URL's        December 1999


   The following changes to the syntax in RFC 2396 are made:
   (1) change the 'host' non-terminal to add an IPv6 option:

      host          = hostname | IPv4address | IPv6reference
      ipv6reference = "[" IPv6address "]"

   where IPv6address is defined as in RFC2373 [ARCH].

   (2) Replace the definition of 'IPv4address' with that of RFC 2373, as
   it correctly defines an IPv4address as consisting of at most three
   decimal digits per segment.

   (3) Add "[" and "]" to the set of 'reserved' characters:

      reserved    = ";" | "/" | "?" | ":" | "@" | "&" | "=" | "+" |
                    "$" | "," | "[" | "]"

```

FYI currently using ruby URI.escape

Escaping [ and ] works fine.

Does this work the way you expect? If so we can close this.

The proper escape sequence looks like: `http%3A%0A%20%20headers%3A%20X-Content-Type-Options%3A%20%5Bnosniff%5D%0A`. This follows [RFC2397](https://tools.ietf.org/html/rfc2397).